video {
  /* just test */
  /* filter: blur(4px) invert(1) opacity(0.5); */
  /* filter: hue-rotate(90deg) saturate(200%); */
  max-width: 500px;
}

.video-container {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.select-button {
  text-align: center;
}
